<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00 (optional)</td>  <td>Help with installing R & RStudio (please follow instructions below)</td> </tr>
      <tr> <td>09:00</td> <td> <a href="https://swcarpentry.github.io/r-novice-inflammation/index.html"> Introduction to Programming in R</a> </td></tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-inflammation/02-func-R.html"> Writing Functions in R</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/03-loops-R.html"> Analyzing Multiple Datasets in R</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/genomics-r-intro/06-data-visualization.html"> Introduction to <b>ggplot2</b> </a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://datacarpentry.org/genomics-r-intro/06-data-visualization.html"> Making pretty plots!</a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up & <a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30 - 17:00 (optional)</td>  <td>Software & Data carpentry office hours</td> </tr>
    </table>
  </div>
<!--   <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div> -->
</div>
